.F_data {
  @include flexbox;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
  background-color: $color-grey;
}
.data_main-title {
  padding: 0 0 70px 0;
}
.data_frame {
  @include flexbox;
  align-items: flex-start;
}
.data_frame_cont {
  width: 40%;
  margin: 0 60px 0 0;
  color: grey;
}
.data_frame_map {
  padding: 0 0 0 60px;
  border-left: 1px solid grey;
}
.data_frame_map_embed {
  width: 400px;
  height: 300px;
  display: block;
}
.data_frame_cont_title {
  padding: 0 0 30px 0;
  color: black;
}
.data_frame_cont_cel {
  text-align: center;
  font-size: 20px;
  padding: 0 0 20px 0;
}
.data_frame_cont_email {
  text-align: center;
  font-size: 20px;
  padding: 0 0 20px 0;
}
.data_frame_cont_address {
  text-align: center;
  font-size: 20px;
  padding: 0 0 20px 0;
}
.data_frame_cont_social-media {
  text-align: center;
}
.data_frame_cont_social-media_2 {
  margin: 0 0 0 5px;
}
.data_frame_cont_social-media_1 {
  margin: 0 5px 0 0;
}
@media all and (max-width: 900px) {
  .data_frame {
    flex-direction: column;
    align-items: center;
  }
  .data_frame_map {
    padding: 0;
    border: 0;
    padding: 50px 0 0 0;
    margin: 50px 0 0 0;
    border-top: 1px solid lightgrey;
  }
  .data_frame_cont {
    margin: 0;
    width: 100%;
  }
}
@media all and (max-width: 420px) {
  .data_frame_map_embed {
    width: 300px;
    height: 500px;
    display: block;
  }
}
