.F_features {
  padding: 70px 0;
}
.features_title {
  padding: 0 0 70px 0;
}
.features_items {
  @include flexbox;
  justify-content: space-around;
}
.features_items_cont {
  text-align: center;
  margin: 0 20px;
}
.features_items_cont_title {
  padding: 0 0 30px 0;
  font-size: 20px;
}
.features_items_cont_title_img {
  padding: 0 0 30px 0;
  height: 15vw;
}
.features_items_cont_abstract {
  padding: 0 0 30px 0;
  height: 140px;
  text-align: left;
  line-height: 26px;
}
.features_items_cont_a {
  padding: 10px;
}
@media all and (max-width: 1101px) {
  .features_items {
    flex-wrap: wrap;
  }
  .features_items_cont {
    width: 40%;
  }
  .features_items_cont_title_img {
    height: 20vw;
  }
  .features_items_cont:nth-child(3),
  .features_items_cont:nth-child(4) {
    margin: 50px 20px 0 20px;
    padding: 50px 0 0 0;
    border-top: 1px solid lightgrey;
  }
}
@media all and (max-width: 650px) {
    .features_items_cont {
      width: 50%;
    }
    .features_items_cont_title_img {
      height: 30vw;
    }
    .features_items_cont:nth-child(2),
    .features_items_cont:nth-child(3),
    .features_items_cont:nth-child(4) {
      border-top: 1px solid lightgrey;
      margin: 50px 20px 0 20px;
      padding: 50px 0 0 0;
    }
}
@media all and (max-width: 420px) {
    .features_items_cont {
      width: 80%;
    }
    .features_items_cont_title_img {
      height: 50vw;
    }
}
