.F_footer {
  background-color: black;
  text-align: center;
  padding: 15px 0 25px 0;
  width: 100%;
}
.footer_text {
  color: white;
  font-size: 12px;
  line-height: 18px;
  width: 100%;
  padding: 0 20px;
}
