.F_header {
    @include flexbox;
    justify-content: center;
    align-items: center;
    background-image: url('../../../img/main-background.jpg');
    background-size: contain;
    height: calc(100vh - 54px);
}
// dial y slogan
.header_dial-cont_dial {
    width: 30vw;
    padding: 0 30px 0 0;
}
.header_slogan-cont {
    text-align: center;
}
.header_slogan-cont_slogan {
    width: 35vw;
    height: auto;
    padding: 0 0 0 30px;
    display: block;
}
.header_slogan-cont_contact {
    @include transform-translate(15px);
    margin: 30px 0 0 0;
}
// rayo
.lightning-cont {
  position: absolute;
  top: 54px;
  left: 50vw;
  @include transform-translate(-50%);
}
.lightning-cont_lightning {
  height: 90vh;
}
@media all and (max-width: 1080px) {
  .F_header {
    flex-direction: column;
    background-size: cover;
  }
  .header_dial-cont_dial {
    width: 330px;
  }
  .header_slogan-cont_slogan {
      width: 330px;
  }
  .header_dial-cont_dial {
    padding: 0;
  }
  .header_slogan-cont_slogan {
    padding: 20px 0 0 0;
  }
}
@media all and (max-width: 420px) {
  .header_dial-cont_dial {
    width: 250px;
  }
  .header_slogan-cont_slogan {
      width: 250px;
  }
}
