.F_profile {
  padding: 70px 0;
  background-image: url(../../../img/guitar.png);
  background-position: center;
  background-repeat: no-repeat;
}
.profile_title {
  padding: 0 0 70px;
}
.profile_presentation {
  @include flexbox;
}
.profile_presentation_pic-cont {
  margin: 0 60px 0 40px;
  text-align: center;
}
.profile_presentation_pic-cont_pic {
  margin: 0 0 15px 0;
}
.profile_presentation_pic-cont_text1 {
  text-align: center;
  font-weight: bold;
}
.profile_presentation_pic-cont_text2 {
  text-align: center;
}
.profile_presentation_text {
  line-height: 26px;
  margin: 0 40px 0 0;
}
.profile_presentation_text_contact {
  color: $color-green;
  text-decoration: underline;
}
.profile_presentation_pic-cont_quote {
  color: $color-darkgrey;
  line-height: 25px;
  padding: 30px 0 0 0;
  font-family: 'Homemade Apple', cursive;
}
.profile_presentation_pic-cont_quote_name {
  text-align: right;
}
@media all and (max-width: 900px) {
  .profile_presentation {
    flex-direction: column;
    flex-wrap: wrap-reverse;
  }
  .profile_presentation_pic-cont {
    text-align: center;
    margin: 0;
  }
  .profile_presentation_text {
    border-top: 1px solid lightgrey;
    line-height: 26px;
    margin: 70px 40px 0 40px;
    padding: 70px 0 0 0;
  }
  .profile_presentation_pic-cont_quote {
    padding: 70px 0 0 0;
    margin: 0 10vw;
    text-align: left;
  }
  .profile_presentation_pic-cont_quote_name {
    text-align: right;
    padding: 0 10vw 0 0;
  }
}
