.F_work {
  padding: 70px 10px;
  background-image: url(../../../img/sound.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: $color-grey;
}
.work_title {
  padding: 0 0 70px 0;
  position: relative;
}
.work_list {
  @include flexbox;
  justify-content: space-around;
  flex-wrap: wrap;
}
.work_list_track {
  width: 50%;
  padding: 0 3vw;
}
.work_list_track:nth-child(1),
.work_list_track:nth-child(2) {
  padding-bottom: 70px;
}
.work_list_track:last-child {
  border-right: 0;
}
.work_list_track_title {
  text-align: left;
  text-transform: capitalize;
  padding: 0 0 20px 0;
}
.work_list_track_title_p {
  padding: 0 0 5px;
}
.work_list_track_title_p_span {
  color: grey;
}
.work_list_track_embed {
  width: 100%;
  height: 115px;
  border: 0;
}
.work_soundcloud {
  text-align: center;
  padding: 100px 0 0 0;
}
.work_soundcloud_p {
  padding: 0 3vw 10px 3vw;
}
@media all and (max-width: 470px) {
  .work_list_track {
    width: 100%;
  }
  .work_list_track:nth-child(1),
  .work_list_track:nth-child(2),
  .work_list_track:nth-child(3) {
    padding-bottom: 30px;
  }
}
