.F_text-services {
    padding: 20px 3vw 60px 3vw;
    line-height: 24px;
    min-height: calc(100vh - 184px);
}
.text-services_item_heading {
    padding: 20px 0 40px;
    text-align: left;
}
@media all and (max-width: 500px) {
  .F_text-services {
      padding: 20px 8vw 60px 8vw;
  }
}
